@import "//at.alicdn.com/t/c/font_3793960_9k8tsyypvgq.css";

.iconfont {
    font-family: "iconfont" !important;
    font-size: 3em;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }